.theme-btn {
  position: fixed;
  bottom: 5%;
  right: 3%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #facf0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  border: none;
  outline: none;
  box-shadow: rgba(205, 205, 214, 0.418) 0 7px 29px 0;
}

.theme-btn i {
  font-size: 1.75rem;
  color: black;
  pointer-events: none;
}
