.home-hero {
  color: #fff;
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(https://user-images.githubusercontent.com/46987044/199565452-dedcfdf3-01ea-49eb-9f1e-0dc69be47ee4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 80rem;
  max-height: 120rem;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 3rem;
}

.home-hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90rem;
  width: 92%;
  color: black;
}

.heading-primary {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #111;
  font-weight: 800;
}

.home-hero-info {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
}

.text-primary {
  color: #333;
  font-size: 2.2rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}

.typing-demo {
  width: 10ch;
  /* animation: typing 2s steps(22), blink 0.5s step-end infinite alternate; */
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  animation: typewriter 2s steps(13) infinite alternate,
    blink 800ms steps(13) infinite normal;
}

/* @keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */

.text {
  animation: animate 4s steps(10) infinite;
}

@keyframes typewriter {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes blink {
  from {
    border-color: black;
  }
  to {
    border-color: transparent;
  }
}

.dark-mode .home-hero {
  background: linear-gradient(to right, rgb(26 23 23 / 80%), rgb(0 0 0 / 80%)),
    url(https://user-images.githubusercontent.com/46987044/199565452-dedcfdf3-01ea-49eb-9f1e-0dc69be47ee4.jpg);
}

.dark-mode .heading-primary {
  color: white;
}

.dark-mode .text-primary {
  color: white;
}

@media only screen and (max-width: 600px) {
}
